.tickets-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
    padding: 10px 20px;
    background-color: lightgrey;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}
