.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%;
    padding: 10px 20px;
    background-color: lightgrey;
    border-radius: 15px;
    align-items: center;
}

.tickets-filter {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    border-radius: 15px;
}